*{
    margin: 0;
    padding: 0;
}
.arrow{
    background-color: orange;
    color: #fff;
    font-size: 2.5rem;
    width: 60px;
    height: 60px;
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.arrow-active{
    display: block;
}
html{
    scroll-behavior: smooth;
}
h1{
    width: 100%;
    height: 100vh;
    background-color: orange;
    text-align:center;
}